@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background-start: 0, 0, 0;
  --background-end: 0, 0, 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #020617;
    --background-start: #e2e8f0;
    --background-end: #cbd5e1;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));
}
